


	svg.bar-chart { background-color: #E5E2E0; }

    text { font-family: sans-serif; }

    text.title-band {
	   font-size: 50
	   width: 350px;
       stroke: #E6842A;
  }


    text.Y {
       fill: steelblue; 
       font-size: 15;
	   width: 50px;
       stroke: red;

	   border-style: solid;
	   border-color: #000; 

	   border-left-width: 1.5px;
	   border-right-width: 1.5px;
	   }


    rect { stroke-width: 3; }
	
	rect.databar:hover { fill: black; }
	
	.tick text { fill:"#fff"; }

     text.data-label {
		font-family: "ITC Franklin Gothic Demi";
        font-size: 12px;
		fill: #635f5d;
    	text-anchor: middle;
	 }

	.toolTip 
		{
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        position: absolute;
        display: none;
        width: auto;
        height: auto;
        background: none repeat scroll 0 0 white;
        border: 0 none;
        border-radius: 8px 8px 8px 8px;
        box-shadow: -3px 3px 15px #888888;
        color: black;
        font: 12px sans-serif;
        padding: 5px;
        text-align: center;
    }


